* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.header {
	width: 960px;
	height: 50px;
}
.main {
	width: 960px;
	height: 400px;
}
.box-image1 {
	background-image: url(img/flow01.png);
	background-size: cover;
	height: 200px;
}
.step1 {
	width: 300px;
	height: 400px;
	float: left;
	padding: 10px;
	border: 2px solid black;
	position: relative;
}
.step1-rogo {
	width: 60px;
	height: 30px;
	float: left;
	background-color: orange;
	position: absolute;
	top: 0;
	left: 0;
}
.step1-rogo-text {
    text-align: center;
    color: white;
}
.step2 {
	width: 300px;
    height: 400px;
    margin-left: 30px;
    float: left;
    padding: 10px;
    border: 2px solid black;
    position: relative;
}
.step2-rogo {
	width: 60px;
	height: 30px;
	background-color: orange;
	position: absolute;
	top: 0;
	left: 0;
}
.step2-rogo-text {
	text-align: center;
	color: white;
}
.box-image2 {
	background-image: url(img/flow02.png);
	height: 200px;
	background-size: cover;
}
.step3 {
	width: 300px;
	height: 400px;
	margin-left: 30px;
	float: left;
	padding: 10px;
	border: 2px solid black;
	position: relative;
}
.step3-rogo {
	width: 60px;
	height: 30px;
	float: left;
	background-color: orange;
	position: absolute;
	top: 0;
	left: 0;
}
.step3-rogo-text {
	text-align: center;
	color: white;
}
.box-image3 {
	background-image: url(img/flow03.png);
	height: 200px;
	background-size: cover;
}
.footer {
	width: 960px;
	height: 50px;
}
@media screen and (max-width:425px) {
.main {
	width: 100%;
}
.step1 {
	width: 100%;
	float:none;
}
.step2 {
	width: 100%;
	float:none;
	margin: 0 0 0 0;
}
.step3 {
	width: 100%;
	float: none;
	margin: 0 0 0 0;
}
